:root {
	--primary-bg: #fff;
	--primary-fg: #000;
	--secondary-bg: #fffa;
	--secondary-fg: #000a;

	--error-bg: #e886;
	--error-fg: #c00;
	--warning-bg: #fc86;
	--warning-fg: #c80;
	--success-bg: #8c86;
	--success-fg: #0c0;

	--message-border: 2px;

	font-size: 16px;
	font-family: sans-serif;
}

* {
	outline: none;
	border: none;

	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

/********** MAIN **********/

html {
	height: 100vh;
	width: 100vw;
}

body {
	/* make sure background.png exists */
	background-image: url('/assets/images/background.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;

	height: 100%;
	width: 100%;
	overflow: auto;
}

nav {
	display: flex;
	justify-content: space-between;

	height: 2rem;
}

nav a {
	flex: 1;
	text-align: center;
	text-decoration: none;
}

.view {
	width: 100%;
	height: calc(100% - 2rem);
}

.wrapper {
	position: relative;
}

.flex {
	display: flex;
}

.flex.col {
	flex-direction: column;
}

.flex.row {
	flex-direction: row;
}

.flex.gap {
	gap: 0.5rem;
}

.flex.wrap {
	flex-wrap: wrap;
}

.flex.justify {
	justify-content: center;
}

.flex.between {
	justify-content: space-between;
}

.flex.even {
	justify-content: space-evenly;
}

.flex.stretch {
	flex: 1;
}

.flex.align {
	align-items: center;
}

.center {
	text-align: center;
}

.padding {
	padding: 0.5rem;
}

.margin {
	margin: 0.5rem;
}

/********** MESSAGES **********/

.message {
	border-radius: 0.25em;
	border: var(--message-border) solid black;

	width: fit-content;
	max-width: 100%;
	padding: 0.5em 1em;
}

.message.error {
	background: var(--error-bg);
	color: var(--error-fg);
	border: var(--message-border) solid var(--error-fg);
}

.message.warning {
	background: var(--warning-bg);
	color: var(--warning-fg);
	border: var(--message-border) solid var(--warning-fg);
}

.message.success {
	background: var(--success-bg);
	color: var(--success-fg);
	border: var(--message-border) solid var(--success-fg);
}

/********** TRANSITIONS / ANIMATIONS **********/

.fade-in {
	animation: fade-in 1s;
}

.fade-out {
	animation: fade-out 1s;
}

@keyframes fade-out {
	from {
		opacity: 1;
	}

	to {
		opacity: 0;
	}
}

@keyframes fade-in {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

/********** FUNCTIONALITY **********/

.invisible {
	opacity: 0;
}

.hidden {
	display: none;
}